<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>Analyze your stocks</title>
</head>
<body>
    <div class="container">
        <h1>Analyze Your Stocks</h1>
        <form method="post">
            <input id="user-input" placeholder="Input Stock Ticker" type="text" name="ticker" required>
            <button id="btn" type="submit">Get Stock Info</button>
        </form>
    </div>
</body>
</html>



